<footer id="footer" class="footer-style-2">
    <!-- FOOTER TOP -->
    
    <!-- END / FOOTER TOP -->

    <!-- FOOTER CENTER -->
    <div class="footer_center bgr-footer">
        <div class="container">
            <div class="content pt10 pb60">
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                        <div class="footer-logo clearfix">
                            <div class="widget widget_logo clearfix">
                                <div class="widget-logo text-center">
                                    <div class="img">
                                        <a href="#"><img class="img-center" src="assets/images/home-3/footer/logo-footer.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="widget widget_tripadvisor clearfix">
                                <div class="tripadvisor text-center">
                                    <img class="img-center" src="assets/images/home-3/footer/logo-trivision.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="widget">
                            <h4 class="widget-title f20 bold">Information</h4>
                            <div class="text">
                                <p><i class="lotus-icon-location mr10"></i> Kelibia,Tunisia</p>
                                <p><i class="lotus-icon-phone mr10"></i> 216-22112211</p>
                                <p><i class="fa fa-envelope-o mr10"></i> <a href="https://landing.engotheme.com/cdn-cgi/l/email-protection#3d55585151527d495558515249484e5552495851135e5250"><span class="__cf_email__" data-cfemail="fc9499909093bc889499909388898f9493889990d29f9391">[email&#160;protected]</span></a>
                                </p>
                            </div>
                        </div>
    
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="widget">
                            <h4 class="widget-title f20 bold">More Link</h4>
                            <ul>
                                <li><a href="/">Acceuil</a></li>
                                <li><a href="/about">A propos</a></li>
                                <li><a href="/offre">Offre</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p class="left inline-block f14">&copy; 2017 Lotus Hotel All rights reserved.</p>
            </div>
        </div>
    </div>
    <!-- END / FOOTER CENTER -->


</footer>